<div class="group">
  <igx-slider [value]="2" [minValue]="1" [maxValue]="4" [step]="1" [secondaryTickLabels]="false" class="slider"></igx-slider>
  <igx-icon class="icon">
    stop
  </igx-icon>
  <igx-icon class="icon_1">
    stop
  </igx-icon>
  <igx-icon class="icon_2">
    expand_more
  </igx-icon>
  <igx-icon class="icon_3">
    check
  </igx-icon>
  <igx-input-group type="border" class="input">
    <input type="text" igxInput />
    <label igxLabel>Nombre</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_1">
    <input type="text" igxInput />
    <label igxLabel>RFC</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_2">
    <input type="text" igxInput />
    <label igxLabel>Colonia</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_3">
    <input type="text" igxInput />
    <label igxLabel>Ciudad</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_4">
    <input type="text" igxInput />
    <label igxLabel>Municipio</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_5">
    <input type="text" igxInput />
    <label igxLabel>C.P</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_6">
    <input type="text" igxInput />
    <label igxLabel>Apellido</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_7">
    <input type="text" igxInput />
    <label igxLabel>INE</label>
  </igx-input-group>
  <p class="text">
    Datos Personales
  </p>
  <p class="text_1">
    Acreditado
  </p>
  <igx-input-group type="border" class="input_8">
    <input type="email" igxInput />
    <label igxLabel>Correo Electrónico</label>
  </igx-input-group>
  <igx-input-group type="border" class="input_9">
    <input type="email" igxInput />
    <label igxLabel>Confirmar Correo</label>
  </igx-input-group>
  <button igxButton="raised" igxRipple routerLink="/master-view2/datos-empresa" class="button">
    Siguiente
  </button>
  <button igxButton="raised" igxRipple routerLink="/master-view2/tramite-de-credito" class="button_1">
    Atras
  </button>
  <button igxButton="flat" igxRipple class="button_2">
    Datos del crédito
  </button>
  <button igxButton="flat" igxRipple class="button_3">
    Datos Personales
  </button>
  <button igxButton="flat" igxRipple class="button_4">
    Datos Empresa
  </button>
  <button igxButton="flat" igxRipple class="button_5">
    Buro y ciec
  </button>
</div>
