:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.group {
  background-image: url("/assets/fondo pruebas.jpg");
  background-size: 100% 100%;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.slider {
  left: 169.0000233308447px;
  top: 35.28328644944577px;
  position: absolute;
  width: 1102px;
  height: max-content;
  min-width: 50px;
}
.input {
  left: 167px;
  top: 193.20819112627987px;
  position: absolute;
  width: 488px;
  height: max-content;
  min-width: min-content;
}
.input_1 {
  left: 165.54266211604096px;
  top: 262.0136518771332px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_2 {
  left: 166.08532423208192px;
  top: 333.2764505119455px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_3 {
  left: 506.2116040955629px;
  top: 333.2764505119455px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_4 {
  left: 850.2389078498309px;
  top: 262.0136518771332px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_5 {
  left: 508.66894197952206px;
  top: 262.01365187713327px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_6 {
  left: 675px;
  top: 193.20819112627987px;
  position: absolute;
  width: 243px;
  height: max-content;
  min-width: min-content;
}
.input_7 {
  left: 937px;
  top: 193.20819112627998px;
  position: absolute;
  width: 238px;
  height: max-content;
  min-width: min-content;
}
.input_8 {
  left: 166.08532423208192px;
  top: 402.08191126279866px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.input_9 {
  left: 506.2116040955629px;
  top: 402.08191126279866px;
  position: absolute;
  width: 322px;
  height: max-content;
  min-width: min-content;
}
.button {
  color: hsla(var(--igx-surface-500));
  background-color: red;
  left: 932.6109215017074px;
  top: 512.6621160409512px;
  position: absolute;
  width: 249px;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  color: hsla(var(--igx-surface-500));
  background-color: hsla(var(--igx-grays-600));
  left: 169px;
  top: 512.6621160409512px;
  position: absolute;
  width: 158px;
  height: max-content;
  min-width: min-content;
}
.button_2 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 131.25597269624575px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_3 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 453.16723549488023px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_4 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 829.139931740621px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_5 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 1210.0273037542813px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-primary-900));
  left: 510.66666666666595px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_1 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-success-500));
  left: 144.0000000000021px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_2 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 522.6666666666669px;
  top: 45.80659840728096px;
  position: absolute;
}
.icon_3 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 156.00000000000287px;
  top: 45.80659840728096px;
  position: absolute;
}
.text {
  color: hsla(var(--igx-primary-900));
  left: 656.937426674488px;
  top: 110.15844976535868px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  color: hsla(var(--igx-primary-900));
  left: 681.3047274957338px;
  top: 128.83273284183053px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
