<div class="group">
  <div class="group_1">
    <div class="group_2">
      <p class="text">
        Welcome
      </p>
    </div>
    <div routerLink="/master-view1/nuevo-ingreso" class="group_3">
      <p routerLink="/master-view1/nuevo-ingreso" class="text_1">
        New Process
      </p>
    </div>
    <div class="group_4">
      <p class="text_2">
        Sign In
      </p>
    </div>
    <p class="text_3">
      Phone
    </p>
    <p class="text_4">
      PIN
    </p>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
    <button igxButton="raised" igxRipple routerLink="/master-view/tramite-de-credito" class="button">
      Sign In
    </button>
  </div>
</div>
