<div class="group">
  <div class="group_1">
    <div class="group_2">
      <p class="text">
        Bienvendi@
      </p>
    </div>
    <div routerLink="/master-view1/nuevo-ingreso" class="group_3">
      <p routerLink="/master-view1/nuevo-ingreso" class="text_1">
        Nuevo Usuario
      </p>
    </div>
    <div class="group_4">
      <p class="text_2">
        Iniciar Sesión
      </p>
    </div>
    <p class="text_3">
      Celular
    </p>
    <p class="text_4">
      PIN
    </p>
    <igx-input-group type="border" class="input">
      <input type="tel" igxInput />
      <label igxLabel>Celular</label>
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="password" igxInput />
      <label igxLabel>Contraseña</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple routerLink="/master-view/tramite-de-credito-inicio" class="button">
      INGRESAR
    </button>
  </div>
</div>
