<div class="group">
  <igx-slider [value]="3" [minValue]="1" [maxValue]="4" [step]="1" [primaryTicks]="4" [secondaryTickLabels]="false" [showTicks]="true" class="slider"></igx-slider>
  <igx-icon class="icon">
    stop
  </igx-icon>
  <igx-icon class="icon_1">
    stop
  </igx-icon>
  <igx-icon class="icon_2">
    stop
  </igx-icon>
  <igx-icon class="icon_3">
    expand_more
  </igx-icon>
  <igx-icon class="icon_4">
    check
  </igx-icon>
  <igx-icon class="icon_5">
    check
  </igx-icon>
</div>
