<div class="group">
  <igx-slider [value]="3" [minValue]="1" [maxValue]="4" [step]="1" [secondaryTickLabels]="false" class="slider"></igx-slider>
  <igx-icon class="icon">
    stop
  </igx-icon>
  <igx-icon class="icon_1">
    stop
  </igx-icon>
  <igx-icon class="icon_2">
    check
  </igx-icon>
  <igx-icon class="icon_3">
    stop
  </igx-icon>
  <igx-icon class="icon_4">
    expand_more
  </igx-icon>
  <igx-icon class="icon_5">
    check
  </igx-icon>
  <igx-icon class="icon_2">
    check
  </igx-icon>
  <igx-icon class="icon_5">
    check
  </igx-icon>
  <button igxButton="raised" igxRipple routerLink="/master-view2/tramite-de-credito" class="button">
    inicio
  </button>
  <div class="group_1">
    <p class="text">
      Ingresando algunos datos y en unos minutos te informaremos si tu crédito ha sido preautorizado
    </p>
    <p class="text_1">
      Aprobación previa
    </p>
  </div>
  <div class="group_2"></div>
</div>
<button igxButton="flat" igxRipple class="button_1">
  Datos del crédito
</button>
<button igxButton="flat" igxRipple class="button_2">
  Datos Personales
</button>
<button igxButton="flat" igxRipple class="button_3">
  Datos Empresa
</button>
<button igxButton="flat" igxRipple class="button_4">
  Buro y ciec
</button>
