<div class="group">
  <div class="group_1">
    <div class="group_2">
      <p class="text">
        Para empezar tu proceso, necesitamos verificar tu teléfono para enviarte un PIN y crear una cuenta
      </p>
    </div>
    <div class="group_3">
      <p class="text_1">
        Nuevo Usuario
      </p>
    </div>
    <div routerLink="/master-view1/ingresar" class="group_4">
      <p routerLink="/master-view1/ingresar" class="text_2">
        Iniciar Sesión
      </p>
    </div>
    <p class="text_3">
      Celular
    </p>
    <p class="text_4">
      PIN
    </p>
    <p class="text_5">
      Confirmar PIN
    </p>
    <p class="text_6">
      Elige 4 dígitos para el PIN que usarás para ingresar a tu cuenta y empezar el proceso de tu crédito
    </p>
    <igx-input-group type="border" class="input">
      <input type="tel" igxInput />
      <label igxLabel>Celular</label>
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="password" igxInput />
      <label igxLabel>PIN</label>
    </igx-input-group>
    <igx-input-group type="border" class="input_2">
      <input type="password" igxInput />
      <label igxLabel>PIN</label>
    </igx-input-group>
    <igx-checkbox labelPosition="after" class="checkbox">
      Estoy de acuerdo con el
    </igx-checkbox>
    <button igxButton="raised" igxRipple routerLink="/master-view1/ingresar" class="button">
      crear cuenta
    </button>
    <a href="https://trinitas.mx/aviso-de-privacidad/" target="_blank" class="igx-typography__body-1 hyperlink">
      Aviso de Privacidad
    </a>
  </div>
</div>
