<div class="group">
  <div class="group_1">
    <div class="group_2">
      <p class="text">
        Para empezar tu proceso, necesitamos verificar tu teléfono para enviarte un PIN y crear una cuenta
      </p>
    </div>
    <div class="group_3">
      <p class="text_1">
        New Process
      </p>
    </div>
    <div routerLink="/master-view1/ingresar" class="group_4">
      <p routerLink="/master-view1/ingresar" class="text_2">
        Sign In
      </p>
    </div>
    <p class="text_3">
      Phone
    </p>
    <p class="text_4">
      PIN
    </p>
    <p class="text_5">
      Confirm PIN
    </p>
    <p class="text_6">
      Choose a 4- digit PIN that will be used to sign in throughout the process of your credit
    </p>
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-input-group type="border" class="input_2">
      <input type="text" igxInput />
    </igx-input-group>
    <igx-checkbox labelPosition="after" class="checkbox">
      I agree to the
    </igx-checkbox>
    <button igxButton="raised" igxRipple routerLink="/master-view1/ingresar" class="button">
      Create account
    </button>
    <a href="https://trinitas.mx/aviso-de-privacidad/" target="_blank" class="igx-typography__body-1 hyperlink">
      Notice of privacy
    </a>
  </div>
</div>
