<div class="group">
  <igx-slider [value]="4" [minValue]="1" [maxValue]="4" [step]="1" [secondaryTickLabels]="false" class="slider"></igx-slider>
  <igx-icon class="icon">
    stop
  </igx-icon>
  <igx-icon class="icon_1">
    stop
  </igx-icon>
  <igx-icon class="icon_2">
    check
  </igx-icon>
  <igx-icon class="icon_3">
    stop
  </igx-icon>
  <igx-icon class="icon_4">
    check
  </igx-icon>
  <igx-icon class="icon_5">
    stop
  </igx-icon>
  <igx-icon class="icon_6">
    expand_more
  </igx-icon>
  <igx-icon class="icon_7">
    check
  </igx-icon>
  <igx-icon class="icon_2">
    check
  </igx-icon>
  <igx-icon class="icon_8">
    check
  </igx-icon>
  <igx-icon class="icon_7">
    check
  </igx-icon>
  <button igxButton="raised" igxRipple routerLink="/master-view2/datos-empresa" class="button">
    atras
  </button>
  <div class="group_1">
    <p class="text">
      Información Fiscal
    </p>
    <p class="text_1">
      Ingresa algunos datos y en unos minutos te informaremos si tu crédito ha sido preautorizado
    </p>
  </div>
  <div class="group_2"></div>
  <p class="text_2">
    Conéctate con el SAT
  </p>
  <p class="text_3">
    Agiliza tu proceso de solicitud sincronizando la información fiscal de tu empresa por medio de tu CIEC
  </p>
  <p class="text_4">
    ° La información a continuación proporcionada será unicamente para lectura y consulta de tu información, con la finalidad de ofrecerte un mejor servicio.No conservamos ninguna copia de los mismos, ni de tu contraseña
  </p>
  <div class="group_3">
    <igx-input-group type="border" class="input">
      <input type="text" igxInput />
      <label igxLabel>RFC Empresa</label>
    </igx-input-group>
    <igx-input-group type="border" class="input_1">
      <input type="text" igxInput />
      <label igxLabel>CIEC</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple routerLink="/master-view2/buro-confirmado" class="button_1">
      Conectar
    </button>
  </div>
</div>
<button igxButton="flat" igxRipple class="button_2">
  Datos del crédito
</button>
<button igxButton="flat" igxRipple class="button_3">
  Datos Personales
</button>
<button igxButton="flat" igxRipple class="button_4">
  Datos Empresa
</button>
<button igxButton="flat" igxRipple class="button_5">
  Buro y ciec
</button>
