:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.group {
  background-image: url("/assets/fondo pruebas.jpg");
  background-size: 100% 100%;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  background-color: hsla(var(--igx-primary-900));
  left: 133px;
  top: 138px;
  position: absolute;
  width: 1193px;
  height: 94px;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  background-image: url("/assets/Screenshot_5.png");
  background-size: 100% 100%;
  left: 135.93856655290102px;
  top: 267.9385665529011px;
  position: absolute;
  width: 156px;
  height: 109px;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  background-color: hsla(var(--igx-grays-300));
  left: 549.4999866680887px;
  top: 312.76793808660415px;
  position: absolute;
  width: 341px;
  height: 186px;
  min-width: 50px;
  min-height: 50px;
}
.slider {
  left: 169.0000233308447px;
  top: 35.28328644944577px;
  position: absolute;
  width: 1102px;
  height: max-content;
  min-width: 50px;
}
.button {
  color: hsla(var(--igx-surface-500));
  background-color: hsla(var(--igx-grays-600));
  left: 169px;
  top: 478.25938566552463px;
  position: absolute;
  width: 158px;
  height: max-content;
  min-width: min-content;
}
.input {
  left: 47px;
  top: 22.365164382465935px;
  position: absolute;
  width: 243px;
  height: max-content;
  min-width: min-content;
}
.input_1 {
  left: 47px;
  top: 78.88393571352391px;
  position: absolute;
  width: 243px;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  color: white;
  background-color: red;
  left: 75.9998933447099px;
  top: 137.47616087617317px;
  position: absolute;
  width: 196px;
  height: max-content;
  min-width: min-content;
}
.button_2 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 131.25597269624575px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_3 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 453.16723549488023px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_4 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 829.139931740621px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.button_5 {
  color: hsla(var(--igx-grays-900));
  background-color: hsla(var(--igx-surface-500));
  left: 1210.0273037542813px;
  top: 80.17064846415985px;
  position: absolute;
  width: 66px;
  height: max-content;
  min-width: min-content;
}
.icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-primary-900));
  left: 1243.2673492605309px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_1 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-success-500));
  left: 144.0000000000021px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_2 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 524.6006825938595px;
  top: 45.80659840728096px;
  position: absolute;
}
.icon_3 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-success-500));
  left: 512.6006825938584px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_4 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 888.6006825938595px;
  top: 45.80659840728096px;
  position: absolute;
}
.icon_5 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: hsla(var(--igx-success-500));
  left: 876.6006825938584px;
  top: 33.80659840728114px;
  position: absolute;
}
.icon_6 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 1255.2673492605318px;
  top: 45.80659840728096px;
  position: absolute;
}
.icon_7 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 156.00000000000287px;
  top: 45.80659840728096px;
  position: absolute;
}
.icon_8 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: hsla(var(--igx-surface-500));
  left: 889.0102389078553px;
  top: 45.80659840728096px;
  position: absolute;
}
.text {
  color: hsla(var(--igx-primary-300));
  left: 2.0716723549488236px;
  top: 99.34812786636085px;
  position: absolute;
  width: 464px;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  text-align: center;
  color: hsla(var(--igx-surface-500));
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  width: 1187.0156100015997px;
  height: max-content;
  min-width: min-content;
}
.text_2 {
  color: hsla(var(--igx-grays-900));
  left: 356.31399317406147px;
  top: 247.2696245733789px;
  position: absolute;
  height: max-content;
  min-width: min-content;
}
.text_3 {
  color: hsla(var(--igx-grays-900));
  left: 358px;
  top: 281.6723549488055px;
  position: absolute;
  width: 888px;
  height: max-content;
  min-width: min-content;
}
.text_4 {
  color: hsla(var(--igx-grays-900));
  left: 135px;
  top: 520.2935270237842px;
  position: absolute;
  width: 1076px;
  height: max-content;
  min-width: min-content;
}
